@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');

.output-topbar {
    min-height: 35px;

    display: flex;

    border-bottom: rgb(55, 17, 109) 1px solid;
}

.output-topbar-button {
    width: 40px;
    height: 40px;
    margin: 7.5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(22, 8, 53);
    border: rgb(55, 17, 109) 1px solid;
    border-radius: 12.5px;

    transition: .1s ease;
}

.output-topbar-button:hover {
    background-color: rgb(26, 10, 63);
}

#output-code {
    font-family: "Noto Sans Mono", monospace;
}